---
import Logo from '../Logo.astro'
---

<div class="mx-auto mt-14 w-[300px] sm:w-[400px] md:w-[500px]">
  <div class="m-auto w-fit">
    <Logo />
  </div>
</div>
<p class="mt-8 text-center text-xl font-semibold uppercase text-white/30">21, 22 y 23 de febrero</p>
<p class="text-center text-3xl sm:text-4xl md:text-5xl">
  La tercera edición del mayor <br />
  <span class="inline-block bg-gradient-to-br from-green-700 via-green-500 to-green-700 bg-clip-text text-transparent"
    >hackathon estudiantil</span
  > de Galicia
</p>
