---
import { faBullhorn, faInfo, faLaptopCode } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'

const scrollOptions = [
  {
    icon: faInfo,
    title: 'Info. general',
    subtitle: 'Fechas, ubicación, premios, etc.',
    href: '#info',
  },
  {
    icon: faLaptopCode,
    title: 'Participar',
    subtitle: 'No pierdas más tiempo, ¡regístrate!',
    href: '/registro',
  },
  {
    icon: faBullhorn,
    title: 'Patrocinar',
    subtitle: 'Consulta los planes de patrocinio.',
    href: '#sponsor-info',
  },
]
---

<div class="mt-14 grid grid-cols-1 gap-4 px-2 sm:grid-cols-3">
  {
    scrollOptions.map((o) => {
      return (
        <a
          href={o.href}
          class="bg-animated flex h-36 flex-col justify-evenly rounded p-0.5 duration-150 hover:scale-[1.03]"
        >
          <div class="flex h-full flex-col justify-evenly rounded bg-[#242424] px-8 py-2 duration-150">
            <div class="px-1">
              <FontAwesomeIcon icon={o.icon} className="h-10" />
            </div>
            <div>
              <h2 class="text-xl">{o.title}</h2>
              <p class="text-sm font-light">{o.subtitle}</p>
            </div>
          </div>
        </a>
      )
    })
  }
</div>

<style>
  .bg-animated:hover {
    animation: gradient 500ms ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .bg-animated {
    background: linear-gradient(-45deg, #22c55e, #15803d 50%, #242424 50% 100%);
    background-size: 200% 200%;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
</style>
