---
import FAQ from '../components/homepage/FAQ.astro'
import Hackathon from '../components/homepage/Hackathon.astro'
import Hero from '../components/homepage/Hero.astro'
import Info from '../components/homepage/Info.astro'
import ScrollOptions from '../components/homepage/ScrollOptions.astro'
import Sponsors from '../components/homepage/Sponsors.astro'
import Youtube from '../components/homepage/Youtube.astro'

import HeaderLayout from '../layouts/HeaderLayout.astro'
---

<HeaderLayout title="HackUDC 2025">
  <Hero />
  <ScrollOptions />
  <Youtube />
  <Info />
  <Sponsors />
  <FAQ />
  <Hackathon />

  <div class="h-[50px]"></div>
</HeaderLayout>
