---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'

import hackudcImage from '../assets/hackudc.svg'
---

<Layout title="HackUDC 2025">
  <div
    class="to-50 h-screen w-screen bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))] from-green-800 to-[#181818] to-50%"
  >
    <div class="pt-20"></div>
    <div class="flex h-20 justify-center">
      <Image
        src={hackudcImage}
        alt="HackUDC logo"
        style="filter: invert(49%) saturate(542%) hue-rotate(182deg) brightness(88%) contrast(89%);"
      />
    </div>
    <div class="mt-2 flex justify-center gap-2 font-extralight text-gray-500">
      <div>GPUL</div>
      <div>|</div>
      <div>Febrero 2025</div>
    </div>
    <div class="mt-2 flex flex-col px-2 align-middle text-5xl">
      <h1
        class="inline-block bg-gradient-to-br from-gray-500 to-gray-300 bg-clip-text text-center font-light text-transparent"
      >
        Apúntate ya a la <span
          class="bg-gradient-to-br from-gray-500 to-green-500 bg-clip-text font-normal"
          >tercera edición</span
        > de HackUDC
      </h1>
      <p
        class="inline-block bg-gradient-to-br from-gray-500 to-gray-300 bg-clip-text pt-3 text-center text-3xl text-transparent"
      >
        XX al YY de febrero
      </p>
      <div class="m-auto flex flex-col flex-nowrap pt-3 text-xl sm:flex-row">
        <div class="mr-4 flex w-full sm:w-auto">
          <a
            href="#"
            class="mb-4 rounded-full bg-green-500 px-4 py-2 text-white sm:mb-0"
            >Quiero apuntarme</a
          >
        </div>
        <div class="flex w-full sm:w-auto">
          <a
            href="#"
            class="rounded-full border border-green-500 px-4 py-2 text-white"
            >Más información</a
          >
        </div>
      </div>
      <div class="m-auto mt-8 aspect-[25/10] w-2/3 rounded-3xl bg-green-500">
      </div>
    </div>
  </div>
  <div
    class="to-50 w-screen bg-[radial-gradient(circle_at_right,_var(--tw-gradient-stops))] from-green-800 to-[#181818] to-35%"
  >
    <div class="mx-auto w-4/5 lg:w-3/5">
      <h1
        class="bg-gradient-to-br from-green-300 to-green-500 bg-clip-text pb-1 text-center text-5xl text-transparent"
      >
        ¿Qué es HackUDC?
      </h1>
      <p class="margin-auto pt-3 text-center text-3xl text-gray-300">
        HackUDC 2025 es la tercera edición del mayor hackathon de Galicia, en
        donde más de 250 estudiantes se juntan para desarrollar proyectos.
      </p>
      <div class="mt-4 flex flex-col-reverse lg:flex-row">
        <div class="W-screen text-white lg:w-1/2">
          <p class="mt-4 text-xl lg:w-2/3">
            Organizada desde 2023 por <a
              href="#"
              class="text-green-500 hover:underline">GPUL</a
            >, esta es la tercera edición de HackUDC, el mayor hackathon
            estudiantil de galicia, en el estudiantes desarrollan un proyecto...
          </p>
        </div>
        <div class="flex lg:w-1/2">
          <div
            class="m-auto mt-8 aspect-[16/10] w-11/12 rounded-3xl bg-green-500"
          >
          </div>
        </div>
      </div>
      <div
        class="margin-0-auto mb-8 mt-16 flex flex-col justify-around sm:flex-row"
      >
        <div class="w-full border-green-500 pb-8 sm:border-r sm:pb-0">
          <h2
            class="bg-gradient-to-br from-green-300 to-green-500 bg-clip-text text-center text-6xl text-transparent"
          >
            +999
          </h2>
          <p class="text-center text-xl uppercase text-white">participantes</p>
        </div>
        <div class="w-full border-green-500 pb-8 sm:border-r sm:pb-0">
          <h2
            class="bg-gradient-to-br from-green-300 to-green-500 bg-clip-text text-center text-6xl text-transparent"
          >
            9999€
          </h2>
          <p class="text-center text-xl uppercase text-white">en premios</p>
        </div>
        <div class="w-full border-green-500 pb-8 sm:border-r sm:pb-0">
          <h2
            class="bg-gradient-to-br from-green-300 to-green-500 bg-clip-text text-center text-6xl text-transparent"
          >
            99
          </h2>
          <p class="text-center text-xl uppercase text-white">empresas</p>
        </div>
        <div class="w-full">
          <h2
            class="bg-gradient-to-br from-green-300 to-green-500 bg-clip-text text-center text-6xl text-transparent"
          >
            ~99
          </h2>
          <p class="text-center text-xl uppercase text-white">proyectos</p>
        </div>
      </div>
      <div class="pb-16">
        <h1
          class="bg-gradient-to-br from-green-300 to-green-500 bg-clip-text pb-1 pt-12 text-center text-5xl text-transparent"
        >
          Aftermovie de HackUDC 2024
        </h1>
        <h2 class="text-center text-2xl text-gray-300">
          Por si aún no te convencimos
        </h2>
        <div class="m-auto mt-8 aspect-[16/9] w-11/12 rounded-3xl bg-green-500">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 h-52 bg-gradient-to-b from-[#181818] from-0% to-green-500">
  </div>
  <div class="min-h-screen bg-green-500 pb-8">
    <div class="mx-auto w-4/5 lg:w-3/5">
      <h1 class="align-center pt-20 text-center text-5xl text-gray-200">
        Patrocinan
      </h1>
      <h2 class="pb-4 text-4xl text-gray-300">Tier 0</h2>
      <div class="flex flex-row justify-around pb-4">
        <div class="aspect-square w-64 rounded-xl bg-[#181818]"></div>
      </div>
      <h2 class="pb-4 text-4xl text-gray-300">Tier 1</h2>
      <div class="flex flex-row justify-around pb-4">
        <div class="aspect-square w-64 rounded-xl bg-[#181818]"></div>
        <div class="aspect-square w-64 rounded-xl bg-[#181818]"></div>
      </div>
      <h2 class="pb-4 text-4xl text-gray-300">Tier x</h2>
      <div class="flex flex-row justify-around">
        <div class="aspect-square w-64 rounded-xl bg-[#181818]"></div>
        <div class="aspect-square w-64 rounded-xl bg-[#181818]"></div>
        <div class="aspect-square w-64 rounded-xl bg-[#181818]"></div>
        <div class="aspect-square w-64 rounded-xl bg-[#181818]"></div>
      </div>
      <h1 class="pt-16 text-center text-4xl text-gray-300">
        Con la colaboración de
        <div class="jusfity-around flex flex-row">
          <div class="m-auto mt-8 aspect-[2/1] w-1/5 rounded-xl bg-[#181818]">
          </div>
          <div class="m-auto mt-8 aspect-[2/1] w-1/5 rounded-xl bg-[#181818]">
          </div>
          <div class="m-auto mt-8 aspect-[2/1] w-1/5 rounded-xl bg-[#181818]">
          </div>
        </div>
      </h1>
    </div>
  </div>
  <div class="h-52 bg-gradient-to-t from-[#181818] from-0% to-green-500"></div>
</Layout>
