---
import Layout from '../layouts/Layout.astro'
---

<Layout title="HackUDC 2025 — Join the waitlist!">
  <div class="flex h-screen flex-col justify-center text-center text-white">
    ejemplo
  </div>
</Layout>
