---
import Layout from '../layouts/Layout.astro'
---

<Layout title="HackUDC 2025 - Landing page">
  <div class="h-screen flex flex-col justify-center">
    <div class="flex justify-center">
      <div>
        <h1 class="text-center font-bold text-3xl">HackUDC</h1>
        <ul class="text-center">
          <li class="font-semibold">Tercera edición (2025)</li>
          <li>
            <a
              class="underline text-blue-600 hover:text-blue-700"
              href="https://hackudc2024.gpul.org/">Segunda edición (2024)</a
            >
          </li>
          <li>
            <a
              class="underline text-blue-600 hover:text-blue-700"
              href="https://hackudc2023.gpul.org/">Primera edición (2023)</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
