---
import Colaboradores from '../components/homepage/Colaboradores.astro'
import FAQ from '../components/homepage/FAQ.astro'
import Hackathon from '../components/homepage/Hackathon.astro'
import Hero from '../components/homepage/Hero.astro'
import Info from '../components/homepage/Info.astro'
import ScrollOptions from '../components/homepage/ScrollOptions.astro'
import Sponsors from '../components/homepage/Sponsors.astro'
import Youtube from '../components/homepage/Youtube.astro'

import HeaderLayout from '../layouts/HeaderLayout.astro'
---

<HeaderLayout
  title="HackUDC 2025 ― Demuestra tu habilidad creando un proyecto Software Libre, conecta con empresas y desafía tus límites. Habrá más de 3.000 € en premios."
>
  <Hero />
  <ScrollOptions />
  <Hackathon />
  <Youtube />
  <Info />
  <Sponsors />
  <Colaboradores />
  <FAQ />

  <div class="h-[50px]"></div>
</HeaderLayout>
