---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'

import engineeringTeamImage from '../assets/engineering-team.svg'
import Badge from '../components/Badge.astro'
import WaitlistHero from '../components/WaitlistHero.astro'
---

<Layout title="HackUDC 2025 — Join the waitlist!">
  <!-- DESKTOP LAYOUT -->
  <div class="hidden h-screen grid-cols-2 lg:grid">
    <!-- LEFT SIDE -->
    <div class="flex flex-col items-end justify-between bg-indigo-50">
      <div class="ml-10 mr-36 mt-20 max-w-96">
        <WaitlistHero />
      </div>
      <div class="flex w-full justify-end">
        <Image
          src={engineeringTeamImage}
          alt="People with computers on a table."
          class="pointer-events-none mr-4 max-w-[450px] select-none"
        />
      </div>
    </div>
    <!-- RIGHT SIDE -->
    <div class="mx-auto flex w-96 flex-col justify-center xl:ml-36">
      <Badge />
    </div>
  </div>
  <!-- PHONE LAYOUT -->
  <div
    class="flex min-h-screen flex-col items-center bg-indigo-50/50 lg:hidden"
  >
    <div class="mx-2 my-10 max-w-96">
      <WaitlistHero />
    </div>
    <div class="w-full max-w-96 px-2">
      <Badge />
    </div>
    <div class="mt-10 flex w-full justify-end">
      <Image
        src={engineeringTeamImage}
        alt="People with computers on a table."
        class="pointer-events-none mr-4 max-w-[450px] select-none"
      />
    </div>
  </div>
</Layout>
