---
import Layout from '../../layouts/Layout.astro'

import Logo from '../../components/Logo.astro'
import Form from '../../components/register/FormVoluntarios'

import Footer from '../../components/Footer.astro'
---

<Layout title={'Registro - HackUDC 2025'}>
  <div class="flex min-h-screen flex-col">
    <div class="mx-auto mt-6 w-full max-w-screen-lg grow px-2">
      <a
        href="/"
        class="hover-bg-green-700 rounded-full border border-green-700 px-4 py-2 text-green-500 transition duration-150 hover:text-white"
      >
        Volver a inicio</a
      >

      <div class="mx-auto mt-14 w-[300px] sm:w-[400px] md:w-[500px]">
        <Logo />
      </div>
      <p class="mt-14 text-center text-3xl sm:text-4xl md:text-5xl">
        Hazte mentor/voluntario para
        <span
          class="inline-block bg-gradient-to-br from-green-700 via-green-500 to-green-700 bg-clip-text font-medium text-transparent"
          >HackUDC 2025</span
        >
      </p>
      <p class="mt-4 text-center text-gray-300 sm:text-base md:text-lg">
        Como mentor o voluntario, tendrás un rol clave en el evento. Como mentor, apoyarás a los participantes
        ofreciendo ayuda técnica, orientándolos en el desarrollo de ideas y resolviendo dudas durante la creación de sus
        proyectos. Como voluntario, colaborarás con la organización en diversas tareas logísticas, como gestionar
        acreditaciones, asistir en el cátering y garantizar el buen funcionamiento del evento. ¡Tu contribución será
        fundamental para que HackUDC sea un éxito!
      </p>
      <!-- Formulario -->
      <div class="bg-animated mx-auto mt-8 w-full rounded-xl p-0.5">
        <div class="rounded-xl bg-[#181818] p-4 md:p-8">
          <Form client:load />
        </div>
      </div>
    </div>
    <div class="h-[100px]"></div>
    <Footer />
  </div>
</Layout>

<style>
  .bg-animated:hover {
    animation: gradient 500ms ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .bg-animated {
    background: linear-gradient(-45deg, #22c55e, #15803d 50%, #242424 50% 100%);
    background-size: 200% 200%;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
</style>
